#mid_portfolio_image_button {
	display:block;
}

.mid_portfolio_image_container {
	position:relative;
	width:150px;
	height:150px;
}

.mid_portfolio_close:after {
	font-size:40px !important;
	display:block;
	content: "\00d7";
	position:absolute;
	color: #fff;
	top: 0px;
	right:5px;
	text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

#mid_portfolio_mobileimage_button {
        display:block;
}

.mid_portfolio_mobileimage_container {
        position:relative;
        width:150px;
        height:150px;
}

.mid_mobileportfolio_close:after {
        font-size:40px !important;
        display:block;
        content: "\00d7";
        position:absolute;
        color: #fff;
        top: 0px;
        right:5px;
        text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

.mid_portfolio_gallery_list li {
	display:inline;
	float:left;
}
.mid_portfolio_gallery_container {
	position:relative;
	width:150px;
	height:150px;
}
.mid_gallery_button_container {
	clear:left;
}

.mid_portfolio_gallery_close:after {
        font-size:40px !important;
        display:block;
        content: "\00d7";
        position:absolute;
        color: #fff;
        top: 0px;
        right:5px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#mid_portfolio_gallery_button {
	display:block;
}

